/* *{
  box-sizing: border-box;
} */


body{
  background-color: #eeeeee;
}

.carousel{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel:hover a{
  display: block;
}


.carousel-list{
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
}

.carousel-list ul{
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}


.carousel-list li{
  display: inline;
}

.carousel-list li img {
  height: 100%;
}

a{
  display:none;
  position:absolute;
  width:31px;
  height:32px;
  z-index: 1000;
  top: 23%;
}

a.prev {
  background:url(../img/play.png) no-repeat;
  margin-left: 1%;
}

 a.next {
  background:url(../img/play.png) no-repeat;
  margin-left: 46%;
}





