nav{
  top: 0px;
}

nav #current-navigation:hover{
   display: block;
}

nav #navigation{

}

nav .navigation-list{
  opacity: 0;
  border: 1px solid #dadaa3;
  width: 100px;
  background-color: #DADADA;
  transition: all .4s;
  max-height: 0;
  min-width: 0;
  max-width: 0;
  left: 0;
  display: block;
  margin-top: -3.25rem;
  padding: .75rem .75rem .75rem 0;
}

nav .current-navigation:hover+.navigation-list{
  max-width: 300%;
  max-height: 23.125rem;
  margin-top: 0;
  opacity: 1;
}

nav .navigation-list:hover{
  max-width: 300%;
  max-height: 23.125rem;
  margin-top: 0;
  opacity: 1;
}